.row
  .pixel
  .pixel
  .pixel
  .pixel
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[0]}
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[1]}
  .pixel

.row
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[2]}
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[3]}
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[4]}
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[5]}
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[6]}
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[7]}
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[8]}

.row
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[9]}
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[10]}
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[11]}
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[12]}
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[13]}
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[14]}

.row
  .pixel
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: @member_list[15]}
  .pixel
  .pixel
  .pixel
  .pixel
  .pixel
  .pixel


