- Member.shuffle
.row
  .pixel
  .pixel
  .pixel
  .pixel
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(0)}
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(1)}
  .pixel

.row
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(2)}
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(3)}
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(4)}
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(5)}
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(6)}
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(7)}
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(8)}

.row
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(9)}
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(10)}
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(11)}
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(12)}
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(13)}
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(14)}

.row
  .pixel
  .pixel
  .pixel
    = render partial: "member_pixel", locals: {member: Member.member(15)}
  .pixel
  .pixel
  .pixel
  .pixel
  .pixel
  .pixel


