%article.desktop-only
  %section#team
    #leader
      .column5
        = image_tag 'logomark.svg', alt: 'logo mark', id: 'logomark'
      .column12
        %h1
          Bmore on Rails is a community of Baltimore folks who use the Ruby programming language and the Ruby on Rails framework.
%article
  #event-details.large-content
    %section
      .container
        .column11.offset1
          .line
            %h2.calendar.icon
          %h2
            Workshop for Women
          %h3
            Feb 27-28 2015
            %a{href: 'https://www.google.com/maps/place/Betamore/@39.276833,-76.612088,15z/data=!4m2!3m1!1s0x0:0x6d2528150bed1e5e', title: 'At Betamore'} @ Betamore
          %p
            This two day workshop put together by the B'more on Rails crew+ is an opportunity for women to learn about the basics of Ruby on Rails. We'll guide you through building an application that's accessible through the web and backed by a database. You'll walk away with the resources and tools to continue making super rad web applications. If you can check e-mail and use google, you can take this class. No previous development experience necessary.
          %h3
            Friday Installfest
          %p
            7:00pm - 9:00pm
          %p
            We'll work together to set up your computer with the necessary tools and explore the command line a little.
            Bring your computer and a charger. Extra extension cords are also helpful if you have one to spare.
          %h3
            Saturday Workshop
          %p
            The big day. Saturday will be focused on getting your Ruby on Rails application built and launched.
          %p
            8:30am - 9:00am | Registration, coffee, & last-minute installation help
          %p
            During the morning we’ll make sure your install from Friday is running well. Be sure to meet the other participants during this time!
          %p
            9:00am - 9:30am | Welcome to B'More on Rails
          %p
            We'll review the day's schedule & hear from our sponsors.
          %p
            9:30am - 11:00pm | The building begins!
          %p
            We'll review command line and start programming.
            (This includes a 15-minute break.)
          %p
            12:00pm - 1:00pm | Lunch!
          %p
            Coders need to eat. We'll have soups and sandwiches with vegetarian options.
          %p
            1:00pm - 4:30pm | Making Progress
          %p
            We'll continue working on our applications, covering terminology, ruby and the command line as needed. We may not all finish building our applications - but everyone should have the tools and knowledge to continue after the workshop.
          %p
            4:30pm - 5:00pm | Last Hurah!
          %p
            Another big shout out to all the coders and sponsors who made the day a success!
          %p
            5:00pm - 7:00pm | Afterparty
          %p
            After the workshop, walk over to Mothers Grille to hang with the local Rails community and nom on some delish heavy apps.

          %div.sign-up-links
            %ul
              %li
                %span
                  Attendees
                %a{href: "http://www.eventbrite.com/e/bmore-on-rails-workshop-for-women-tickets-14887807834?ref=ebtnebtckt", target: "_blank"}
                  = image_tag "https://www.eventbrite.com/custombutton?eid=14887807834", alt: "Eventbrite - B’more on Rails | Workshop for Women"
              %li
                %span
                  Coaches
                %a{href: "http://www.eventbrite.com/e/bmore-on-rails-workshop-for-women-tickets-14887807834?ref=ebtnebtckt", target: "_blank"}
                  = image_tag "https://www.eventbrite.com/custombutton?eid=14887807834", alt: "Eventbrite - B’more on Rails | Workshop for Women"
            %p
            Follow the school on twitter and help spread the word
            = link_to '@BmorRailsSchool', 'https://twitter.com/BmorRailsSchool?lang=en'

        .column6.line-mobile
          .line
            %h2.sponsors.icon
          %h3.border-text Presented By
          %a{href: 'https://www.traitify.com/', title: 'traitify'}
            = image_tag 'traitify_logo_blue.png', class: 'logo logo-border'
          %a{href: 'http://smartlogicsolutions.com/', title: 'smartlogic'}
            = image_tag 'smartlogic_275.png', alt: 'Smart Logic Logo', class: 'logo'
          %a{href: 'http://www.staq.com/', title: 'staq'}
            = image_tag 'STAQ.jpg', alt: 'Staq logo', class: 'logo'
          %a{href: 'http://www.lmo.com/', title: 'lmo'}
            = image_tag 'lmo.png', alt: 'LMO logo', class: 'logo'
          %a{href: 'http://betamore.com/', title: 'betamore'}
            = image_tag 'betamore_logo.png', alt: 'Betamore Logo', class: 'logo'

    = render 'layouts/locations'
